html, body {
    margin:0px;
	overflow-y: auto; 
	font-size: x-large;
}
h1,h3,p,li {
	text-shadow: 0px 4px 8px rgba(40, 80, 100, 0.9);
}
div.text {
	text-align: center;
	/* height: 100%; */
	padding: 25px;
	font-family: "Audiowide", sans-serif;
    box-sizing: border-box;
	position: relative;
	z-index: 3;
}
article li:before {
	width:10px;
	height:10px;
	box-shadow: 0px 4px 8px rgba(40, 80, 100, 0.9);
}
ul {
	list-style-position:inside;
	margin: 0;
	padding: 25px;
}
div.bg {
	margin-left: -250vw;
	width: 600vw;
	height: 100vh;
	animation: animate 3s linear infinite;
	background: rgb(131,58,180);
	background: linear-gradient(315deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 12.5%, rgba(252,176,69,1) 25%, rgba(253,29,29,1) 37.5%, rgba(131,58,180,1) 50%, rgba(253,29,29,1) 62.5%, rgba(252,176,69,1) 75%, rgba(253,29,29,1) 87.5%, rgba(131,58,180,1) 100%);
	background-repeat: no-repeat;
	background-size: cover;
	
	position: fixed;
	
	/*
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	flex-wrap: wrap;
	/*overflow: hidden;*/
	
	overflow-y:auto;
	overflow-x:hidden;
	
}
@keyframes animate {
  0% {
    background-position-x: -162.5vw;
  }
  100% {
    background-position-x: 162.5vw;
  }
}
.title {
	margin-top: 100px;
	color: #5C6AC4;
}
img {
	border-radius: 8px;
	width: 200px;
	background-color: white;
	box-shadow: 0px 4px 8px rgba(92, 106, 196, 0.9), 0 6px 20px 0 rgba(92, 106, 196, 0.19);
}
p,li {
	color: #FFFFFF;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden; /* Clip overflowing content */
	z-index: 2;
}
 
.row {
	display: flex;
	justify-content: center; /* Center hexagons horizontally */
	margin-bottom: -30px; /* Adjust margin as needed */
}

.hexagon {
	/* flex: 0 0 auto;  Allow hexagons to shrink or grow as needed */
	align-self: center;
	display: inline-block;
	box-shadow: 10px 10px 5px #000000;
	width: 100px; 
	height: 100px;
	background: rgba(49,51,56,0.5);
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	transition: .5s;
	margin-top: -50px;
	margin-bottom: 60px;
	margin-left: 10px;
	z-index: 1;
}
/*
.hexagon:hover {
	background: rgba(49,51,56,0.2);
	transform: scale(0.3);
	transition: 1s;
}
*/
.topbar {
	position: fixed;
	top: 0px;
	z-index: 5;
	background-color: #000000;
	width: 103vw;
	height: 50px;
}