html, body {
    margin:0px;
	overflow-y: auto; 
	font-size: x-large;
}
h1,h3,p,li,label {
	text-shadow: 0px 4px 8px rgba(40, 80, 100, 0.9);
}
div.code-box {
	tab-size: 4;
	/* padding-block: 10px; */
	width: 100%;
	height: 100%;
	text-align: left;
	background-color: rgba(41, 32, 46, 0.829);
	border-radius: 25px;
	font-size: initial;
    font-family: monospace;
	overflow: hidden;
	list-style:square;
	border:2px solid #5C6AC4;
}
td {
    display: table-cell;
    vertical-align: baseline;
    unicode-bidi: isolate;
    padding: 0px;
}
table {
	width: 100%;
    border-collapse: separate;
    text-indent: initial;
    font-size: initial;
    font-family: monospace;
	tab-size: 4;
    border-spacing: 0px;
}
.line-number::before {
    content: attr(value);
}
.line-content {
    padding: 0px 5px !important;
	border-bottom: 2px solid rgba(59, 59, 59, 0.323) !important;
}
.line-number {
    box-sizing: border-box;
    width: 31px;
    background-color: #3c3e4c;
    user-select: none;
    text-align: right;
    color:  #545b86;
    word-break: normal;
    font-size: 9px;
    font-family: Helvetica;
    padding: 0px 4px !important;
    border-right: 1px solid rgb(187, 187, 187) !important;
    white-space: nowrap;
}
div.text {
	text-align: center;
	/* height: 100%; */
	padding: 25px;
	font-family: "Audiowide", sans-serif;
    box-sizing: border-box;
	position: absolute;
	top: 0px;
	
    right: 275vw;
    left: 275vw;
	bottom: auto;
	padding-inline: -100px;
	z-index: 3;
}

ul {
	list-style-position:inside;
	margin: 0;
	padding: 25px;
}
div.bg {
	margin-left: -250vw;
	width: 600vw;
	height: 100vh;
	animation: animate 3s linear infinite;
	background: rgb(131,58,180);
	background: linear-gradient(315deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 12.5%, rgba(252,176,69,1) 25%, rgba(253,29,29,1) 37.5%, rgba(131,58,180,1) 50%, rgba(253,29,29,1) 62.5%, rgba(252,176,69,1) 75%, rgba(253,29,29,1) 87.5%, rgba(131,58,180,1) 100%);
	background-repeat: no-repeat;
	background-size: cover;
	
	position: fixed;
	
	/*
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	flex-wrap: wrap;
	/*overflow: hidden;*/
	
	overflow-y:auto;
	overflow-x:hidden;
	
}
@keyframes animate {
  0% {
    background-position-x: -162.5vw;
  }
  100% {
    background-position-x: 162.5vw;
  }
}
.title {
	margin-top: 30px;
	color: #5C6AC4;
}
img {
	border-radius: 8px;
	width: 200px;
	background-color: white;
	box-shadow: 0px 4px 8px rgba(92, 106, 196, 0.9), 0 6px 20px 0 rgba(92, 106, 196, 0.19);
}
p,li,a,label {
	color: #FFFFFF;
	vertical-align: middle;
}

a:visited {
	color:white;
}
a:hover {
	color: #5C6AC4;
}
td {
	color:white;
}

ul {
	list-style: none;
}
li::before {
	color:white;
	content:'\2022  ';
	text-shadow: 0px 4px 8px rgba(40, 80, 100, 0.9);
	font-size:xx-large;
	transform: translate(-10px,0);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden; /* Clip overflowing content */
	z-index: 2;
}
 
.row {
	display: flex;
	justify-content: center; /* Center hexagons horizontally */
	margin-bottom: -30px; /* Adjust margin as needed */
}

.hexagon {
	/* flex: 0 0 auto;  Allow hexagons to shrink or grow as needed */
	align-self: center;
	display: inline-block;
	box-shadow: 10px 10px 5px #000000;
	width: 100px; 
	height: 100px;
	background: rgba(49,51,56,0.5);
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	transition: .5s;
	margin-top: -50px;
	margin-bottom: 60px;
	margin-left: 10px;
	z-index: 1;
}
/*
.hexagon:hover {
	background: rgba(49,51,56,0.2);
	transform: scale(0.3);
	transition: 1s;
}
*/
.html-tag {
    color: rgb(93, 176, 215);
}
.html-comment {
    color: rgb(42, 174, 47);
}
.html-attribute-name {
    color: rgb(155, 187, 220)
}
.html-attribute-value {
    color: rgb(242, 151, 102);
}
.html-attribute-value.html-external-link {
    color: rgb(159, 180, 214);
    text-decoration: underline;
}
form,.button-board {
	text-align: left;
	width: 100%;
	border-radius: 25px;
	border: 2px solid #5C6AC4;
	background-color:  #0000005e;
	padding: 10px;
}
.button-board {
	text-align: center;
}
.flexy, .row-feild {
	display: flex !important;
}
.flexy input,textarea {
	width: 100%;
	padding: 3px 5px;
	margin-block: 10px;
	color: white;
	background-color:#3c3e4ca2;
	border-radius: 10px;
	border: 2px solid #5C6AC4;
	user-select: none;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
	border: 2px solid #74c45c;
}
.item {
	justify-content: center;
	text-align: center;
	flex-grow: 1;
	display:flex;
	padding: 10px;
	height: auto;
}
.item input{
	width: auto;
}
.row-item {
	flex-grow: 1;
	padding: 10px;
	height: auto;
}
#ok,button {
	font-family: "Audiowide", sans-serif;
	padding: 10px 20px;
	border-radius: 25px;
	border-color: white;
	color: white;
	background-color: #5C6AC4;
}
.hitme {
	background-color: #c45c5c;
}
#why{
	resize: none;
	min-height: auto;
	overflow: hidden;
}
.button-board div{
	display: flex;
	justify-content: space-between;
}
.button-board div button {
	height: 4em;
	width: 8em;
	margin: 1em;
}
.button-board div button:hover:not(.hitme){
	border-color: white;
	color: white;
	background-color: #c4b85c;
}
#ok:hover,.hitme:hover {
	border-color: white;
	color: white;
	background-color: #74c45c;
}
